{
  "metadata": {
    "id": "mk8snodegroup-e00a6hq5knp5arwjtc",
    "parent_id": "mk8scluster-e00k94xf69vc99rtgn",
    "name": "gray-pelican-node-group-7",
    "resource_version": "1",
    "created_at": "2026-06-02T13:01:31Z",
    "updated_at": "2026-06-02T13:01:31Z"
  },
  "spec": {
    "version": "1.33",
    "fixed_node_count": "2",
    "template": {
      "resources": {
        "platform": "gpu-h100-sxm",
        "preset": "1gpu-16vcpu-200gb"
      },
      "boot_disk": {
        "size_gibibytes": "100",
        "block_size_bytes": "4096",
        "type": "NETWORK_SSD"
      },
      "gpu_settings": {
        "drivers_preset": "cuda13.0"
      },
      "os": "ubuntu24.04",
      "network_interfaces": [
        {
          "public_ip_address": {},
          "subnet_id": "vpcsubnet-e00twftr6t04zjqs9b"
        }
      ],
      "service_account_id": "serviceaccount-e00g89xvk3y5w4tfyy",
      "reservation_policy": {}
    }
  }
}
